In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier

Day 1- download the libary and  import 
we load the dataset of diabetes prediction dataset check info,coloums,info,shape,

In [5]:
data=pd.read_csv('data/train.csv')
data

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed,0,0,0,0.0
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,Female,Hispanic,Graduate,Upper-Middle,Former,Employed,0,0,1,1.0
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,Female,White,Graduate,Middle,Never,Employed,0,0,0,1.0
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,Female,White,Highschool,Lower-Middle,Never,Retired,0,0,0,1.0
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,Female,Black,Graduate,Low,Former,Employed,0,0,0,1.0

In [6]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   id                                  700000 non-null  int64
 1   age                                 700000 non-null  int64
 2   alcohol_consumption_per_week        700000 non-null  int64
 3   physical_activity_minutes_per_week  700000 non-null  int64
 4   diet_score                          700000 non-null  float64
 5   sleep_hours_per_day                 700000 non-null  float64
 6   screen_time_hours_per_day           700000 non-null  float64
 7   bmi                                 700000 non-null  float64
 8   waist_to_hip_ratio                  700000 non-null  float64
 9   systolic_bp                         700000 non-null  int64
 10  diastolic_bp                        700000 non-null  int64
 11  heart_rate                          700000 non-null  int64
 12  cholesterol_total                   700000 non-null  int64
 13  hdl_cholesterol                     700000 non-null  int64
 14  ldl_cholesterol                     700000 non-null  int64
 15  triglycerides                       700000 non-null  int64
 16  gender                              700000 non-null  str
 17  ethnicity                           700000 non-null  str
 18  education_level                     700000 non-null  str
 19  income_level                        700000 non-null  str
 20  smoking_status                      700000 non-null  str
 21  employment_status                   700000 non-null  str
 22  family_history_diabetes             700000 non-null  int64
 23  hypertension_history                700000 non-null  int64
 24  cardiovascular_history              700000 non-null  int64
 25  diagnosed_diabetes                  700000 non-null  float64
dtypes: float64(6), int64(14), str(6)
memory usage: 138.9 MB

In [7]:
data.shape

(700000, 26)

In [8]:
data.describe

<bound method NDFrame.describe of             id  age  alcohol_consumption_per_week  \
0            0   31                             1
1            1   50                             2
2            2   32                             3
3            3   54                             3
4            4   54                             1
...        ...  ...                           ...
699995  699995   29                             1
699996  699996   46                             2
699997  699997   35                             1
699998  699998   49                             2
699999  699999   42                             4

        physical_activity_minutes_per_week  diet_score  sleep_hours_per_day  \
0                                       45         7.7                  6.8
1                                       73         5.7                  6.5
2                                      158         8.5                  7.4
3                                       77         4.6                  7.0
4                                       55         5.7                  6.2
...                                    ...         ...                  ...
699995                                  59         6.9                  5.2
699996                                  72         7.7                  7.7
699997                                  50         5.6                  6.1
699998                                  70         5.7                  6.9
699999                                  56         4.2                  7.0

        screen_time_hours_per_day   bmi  waist_to_hip_ratio  systolic_bp  ...  \
0                             6.1  33.4                0.93          112  ...
1                             5.8  23.8                0.83          120  ...
2                             9.1  24.1                0.83           95  ...
3                             9.2  26.6                0.83          121  ...
4                             5.1  28.8                0.90          108  ...
...                           ...   ...                 ...          ...  ...
699995                        1.5  26.1                0.88          133  ...
699996                        3.8  25.5                0.85          106  ...
699997                        6.4  26.9                0.88          127  ...
699998                        4.7  25.2                0.86          116  ...
699999                        6.1  28.3                0.90           99  ...

        gender  ethnicity  education_level  income_level  smoking_status  \
0       Female   Hispanic       Highschool  Lower-Middle         Current
1       Female      White       Highschool  Upper-Middle           Never
2         Male   Hispanic       Highschool  Lower-Middle           Never
3       Female      White       Highschool  Lower-Middle         Current
4         Male      White       Highschool  Upper-Middle           Never
...        ...        ...              ...           ...             ...
699995  Female   Hispanic     Postgraduate  Upper-Middle          Former
699996  Female   Hispanic         Graduate  Upper-Middle          Former
699997  Female      White         Graduate        Middle           Never
699998  Female      White       Highschool  Lower-Middle           Never
699999  Female      Black         Graduate           Low          Former

        employment_status family_history_diabetes hypertension_history  \
0                Employed                       0                    0
1                Employed                       0                    0
2                 Retired                       0                    0
3                Employed                       0                    1
4                 Retired                       0                    1
...                   ...                     ...                  ...
699995           Employed                       0                    0
699996           Employed                       0                    0
699997           Employed                       0                    0
699998            Retired                       0                    0
699999           Employed                       0                    0

       cardiovascular_history diagnosed_diabetes
0                           0                1.0
1                           0                1.0
2                           0                0.0
3                           0                1.0
4                           0                1.0
...                       ...                ...
699995                      0                0.0
699996                      1                1.0
699997                      0                1.0
699998                      0                1.0
699999                      0                1.0

[700000 rows x 26 columns]>

In [9]:
data.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
gender                                    str
ethnicity                                 str
education_level                           str
income_level                              str
smoking_status                            str
employment_status                         str
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
diagnosed_diabetes                    float64
dtype: object

In [10]:
data.columns

Index(['id', 'age', 'alcohol_consumption_per_week',
       'physical_activity_minutes_per_week', 'diet_score',
       'sleep_hours_per_day', 'screen_time_hours_per_day', 'bmi',
       'waist_to_hip_ratio', 'systolic_bp', 'diastolic_bp', 'heart_rate',
       'cholesterol_total', 'hdl_cholesterol', 'ldl_cholesterol',
       'triglycerides', 'gender', 'ethnicity', 'education_level',
       'income_level', 'smoking_status', 'employment_status',
       'family_history_diabetes', 'hypertension_history',
       'cardiovascular_history', 'diagnosed_diabetes'],
      dtype='str')

In [11]:
data.isnull().sum()

id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
diagnosed_diabetes                    0
dtype: int64

In [13]:
id=data['id']
id

0              0
1              1
2              2
3              3
4              4
           ...
699995    699995
699996    699996
699997    699997
699998    699998
699999    699999
Name: id, Length: 700000, dtype: int64

In [14]:
data=data.drop(['id'],axis=1)
data

,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,diastolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,70,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,77,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,89,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,69,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,60,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,57,...,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed,0,0,0,0.0
699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,85,...,Female,Hispanic,Graduate,Upper-Middle,Former,Employed,0,0,1,1.0
699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,84,...,Female,White,Graduate,Middle,Never,Employed,0,0,0,1.0
699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,67,...,Female,White,Highschool,Lower-Middle,Never,Retired,0,0,0,1.0
699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,73,...,Female,Black,Graduate,Low,Former,Employed,0,0,0,1.0